*{
    margin: 0;
    padding: 0;
}
.hero{
    height: 100vh;
    background-image: linear-gradient(rgba(0,105,233,0.8),rgba(0,105,233,0.5)),url("Nike\ Store\ Img/background.jpg");
    background-position: center ;
    background-size: cover;
    font-family: sans-serif;
}
.nav-bar
{
    display: flex;
}
.navbar-left{
    flex-basis: 70%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
.navbar-right{
   
    flex-basis: 30%;
    background-color: #fff;
}
.navbar-inner
{
    display: flex;
    align-items: center;
    padding: 45px 50px 10px 50px;
}
.navbar-inner ul{
    margin: 20px;
    z-index: 2;

}
.navbar-inner ul li{
    margin: 0 10px;
    display: inline-block;
}
.navbar-inner ul li a{
    text-decoration: none;
    color: wheat;
}
.navbar-right ul {
    float: right;
    padding: 35px 50px 10px 50px;
}
.navbar-right ul li{
    display: inline-block;
    list-style: none;
    margin-left: 40px;
}
.content
{
    position: relative;
    display: flex;
    height: 88%;
}
.content-left{
    flex-basis: 70%;
    position: relative;
}
.content-right{
    flex-basis: 30%;
    position: relative;
    background-color: #fff;
}
.upper-text
{
    left: 15%;
    top: 20%;
    position: absolute;
    color: wheat;
    opacity: .5;
}
.upper-text h1{
    font-size: 150px;
    margin-left: 150px;
    line-height: 90px;
    font-style: italic;
}
.upper-text h2{
    font-size: 90px;

}
.bottom-text
{
    left: 60%;
    bottom: 5%;
    position: absolute;
    opacity: .5;
    color: lightblue;
}
.bottom-text h1{
    font-size: 70px;
    margin-left: 220px;
    line-height: 50px;
}
.bottom-text h2{
    font-size: 40px;
    position:relative;
    left:180px;
    
}

.bottom-text h3{
    font-size: 40px;
    margin-left: 180px;
    line-height: 50px;
}
 #img{
     top:-10%;
    right: -200px;
    position: absolute;
    z-index: 1;
    
}